[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
	shallow = true
[submodule "Externals/mGBA/mgba"]
	path = Externals/mGBA/mgba
	url = https://github.com/mgba-emu/mgba.git
	branch = master
	shallow = true
[submodule "Externals/ffmpeg/ffmpeg"]
	path = Externals/ffmpeg/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/5.0
