[submodule "Externals/FFmpeg-bin"]
	path = Externals/FFmpeg-bin
	url = https://github.com/dolphin-emu/ext-win-ffmpeg.git
	shallow = true
[submodule "Externals/cubeb/cubeb"]
	path = Externals/cubeb/cubeb
	url = https://github.com/mozilla/cubeb.git
	shallow = true
[submodule "Externals/curl/curl"]
	path = Externals/curl/curl
	url = https://github.com/curl/curl.git
	shallow = true
[submodule "Externals/fmt/fmt"]
	path = Externals/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "Externals/enet/enet"]
	path = Externals/enet/enet
	url = https://github.com/lsalzman/enet.git
	shallow = true
[submodule "Externals/glslang/glslang"]
	path = Externals/glslang/glslang
	url = https://github.com/KhronosGroup/glslang.git
	shallow = true
[submodule "Externals/cpp-ipc/cpp-ipc"]
	path = Externals/cpp-ipc/cpp-ipc
	url = https://github.com/mutouyun/cpp-ipc.git
	shallow = true
[submodule "Externals/cpp-optparse/cpp-optparse"]
	path = Externals/cpp-optparse/cpp-optparse
	url = https://github.com/weisslj/cpp-optparse.git
	shallow = true
[submodule "Externals/bzip2/bzip2"]
	path = Externals/bzip2/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
	shallow = true
