<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Required for JIT usage -->
  <key>com.apple.security.cs.allow-jit</key>
  <true/>
  <!-- Needed for GameCube microphone emulation -->
  <key>com.apple.security.device.audio-input</key>
  <true/>
  <!-- TODO: What is using AppleEvents? -->
  <key>com.apple.security.automation.apple-events</key>
  <true/>
</dict>
</plist>
