[Desktop Entry]
Version=1.0
Type=Application
Name=Dolphin Emulator
Comment=A Wii/GameCube Emulator
Icon=dolphin-emu
Exec=dolphin-emu
Categories=Game;

