<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DolphiniOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00DAEF24897945948A167C54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F7A175A0A941CEB10F2294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>033D23FA70534682A955C0D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03CD83C081784A20824DC386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04407D5B85F14DA097189A2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B0B5AED3C44C7E89D63516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB3F6558A1A494C94DD3FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF5C9AC901746BA99FA2F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F26F2B0F94443D4B85B872F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202811A490E94A96935FA242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25F7F78B157540CF9E3EB77E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34ACA02D8E2C4C1DA6B403D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3988DD953C99432D837547F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B808BC7DECE4C7C867E5449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CDDC7C01EE04735B2669BCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>412851A8AE03432EA24A4A84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E2621FB07F4E49B2840420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>517516ACF3514907817D56C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52083F0C2ADC402094E43DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D5F327800F44E48B0CC0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5300446AFA544736844C2D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8C9F124E314483B3B1440E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F86A2B455C4F6DB42B16E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62AB543B70DE4796B9DEA29E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CAC30D7D91F4EF8A9A63BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71ACCE841D7C42B8A3F34E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75A4078D00BF4A809CCE11F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3843FB71E54E5FA85F3FDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8009056469DC4929B28506DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A09AF1131F84902B19D97B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE16CEE739A74EDB9135B9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC4381C235542F482DEE9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0A6D9ABCEB47AC97EA9305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA53A23A1CEFA30E005937F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA53A2521CEFA30E005937F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA53A25D1CEFA30E005937F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8385D97748A434CA2B6ACD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD132A3A226D4A75930223F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03B938644214243B5ACF47D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05E82A14EEA400482137225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8FA0BC0CE604D97B6D530B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E936E85DF2914C77AF46DC15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA131534DFA4CF78A92329B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0F7F90249C14D2CBA0A8EDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3707FFBC797428CBFE320E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F39C0AF5154541A9A84160CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F477A0643D314554BE9DA8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91E045733684629B7933386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
