// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT DIALOGEX 0, 0, 188, 81
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dolphin D3D9 Video Plugin"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Close",IDOK,131,60,50,14
    LTEXT           "Code by ector",IDC_STATIC,7,7,85,9
    LTEXT           "Hardware requirements: Radeon 9500 or better, or Geforce FX5200 or better.\nRadeon recommended.",IDC_STATIC,7,19,174,26
    LTEXT           "Will not work correctly on older GPU:s.",IDC_STATIC,7,47,170,8
END

IDD_SETTINGS DIALOGEX 0, 0, 231, 141
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "&Graphics card:",IDC_STATIC,7,9,61,8
    COMBOBOX        IDC_ADAPTER,68,7,156,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Fullscreen",IDC_FULLSCREENENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,25,141,8
    CONTROL         "&V-Sync",IDC_VSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,38,141,8
    CONTROL         "&Render to main window",IDC_RENDER_TO_MAINWINDOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,50,141,8
    LTEXT           "Full&screen resolution:",IDC_STATIC,7,63,69,8
    COMBOBOX        IDC_RESOLUTION,87,62,137,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Windowed resolution:",IDC_STATIC,7,82,74,8
    COMBOBOX        IDC_RESOLUTIONWINDOWED,87,81,137,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Rotate windowed mode 90 degrees (for &Ikaruga)",IDC_CHECK1,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_DISABLED | WS_TABSTOP,87,97,137,17
    LTEXT           "&Anti-alias mode:",IDC_STATIC,7,122,61,8
    COMBOBOX        IDC_ANTIALIASMODE,68,121,156,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_DEBUGGER DIALOGEX 0, 0, 234, 254
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST1,7,16,70,231,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Command Stream",IDC_STATIC,7,7,70,8
    PUSHBUTTON      "&Step",IDC_DEBUGSTEP,81,16,35,15
    CONTROL         "",IDC_REGISTERS,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,81,68,146,179
    LTEXT           "&Registers",IDC_STATIC,81,41,137,9
    CONTROL         "&Enable debugging",IDC_ENABLEDEBUGGING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,121,19,70,8
    CONTROL         "",IDC_REGISTERSELECT,"SysTabControl32",TCS_BUTTONS,80,52,145,13
END

IDD_ADVANCED DIALOGEX 0, 0, 206, 175
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "&Settings",IDC_STATIC,7,7,192,81
    CONTROL         "&Wireframe",IDC_WIREFRAME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,19,79,9
    CONTROL         "&Overlay some statistics",IDC_OVERLAYSTATS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,31,88,9
    CONTROL         "Show s&hader compilation errors",IDC_SHOWSHADERERRORS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,43,127,9
    LTEXT           "Default display &list optimization level:",IDC_STATIC,14,57,137,9,WS_DISABLED
    COMBOBOX        IDC_DLOPTLEVEL,14,67,178,63,CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "&Data dumping",IDC_STATIC,7,91,192,44
    CONTROL         "Dump &textures to:",IDC_TEXDUMP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,104,70,9
    EDITTEXT        IDC_TEXDUMPPATH,25,116,148,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSETEXDUMPPATH,176,116,14,13
    GROUPBOX        "Texture Format Overlay",IDC_STATIC,7,138,192,30
    CONTROL         "Enable Overlay",IDC_TEXFMT_OVERLAY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,150,74,10
    CONTROL         "Centered",IDC_TEXFMT_CENTER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,110,150,82,10
END

IDD_ENHANCEMENTS DIALOGEX 0, 0, 207, 175
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Texture &filtering",IDC_STATIC,7,7,193,50
    CONTROL         "Force &bi/trilinear (may cause very small glitches)",IDC_FORCEFILTERING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,20,170,9
    CONTROL         "Force 16x &anisotropy filtering",IDC_FORCEANISOTROPY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,35,110,10
    GROUPBOX        "Texture &enhancements",IDC_STATIC,7,61,193,34
    CONTROL         "Pre-&upscale:",IDC_PREUPSCALE,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,16,76,54,10
    COMBOBOX        IDC_PREUPSCALETYPE,74,74,117,49,CBS_DROPDOWNLIST | CBS_SORT | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "&Postprocess image",IDC_STATIC,7,102,192,59
    LTEXT           "Effe&ct:",IDC_STATIC,14,118,36,8
    COMBOBOX        IDC_POSTPROCESSEFFECT,74,117,117,71,CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Pa&ram 1",IDC_PPPARAM1LABEL2,14,141,35,8
    CONTROL         "",IDC_PPPARAM1,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_DISABLED | WS_TABSTOP,68,137,127,15
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_ABOUT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 181
        TOPMARGIN, 7
        BOTTOMMARGIN, 74
    END

    IDD_SETTINGS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 224
        VERTGUIDE, 7
        VERTGUIDE, 68
        VERTGUIDE, 81
        VERTGUIDE, 87
        TOPMARGIN, 7
        BOTTOMMARGIN, 134
    END

    IDD_DEBUGGER, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 227
        TOPMARGIN, 7
        BOTTOMMARGIN, 247
    END

    IDD_ADVANCED, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 199
        VERTGUIDE, 14
        VERTGUIDE, 110
        TOPMARGIN, 7
        BOTTOMMARGIN, 168
        HORZGUIDE, 150
    END

    IDD_ENHANCEMENTS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 200
        VERTGUIDE, 16
        VERTGUIDE, 74
        TOPMARGIN, 7
        BOTTOMMARGIN, 168
    END
END
#endif    // APSTUDIO_INVOKED
