// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT DIALOGEX 0, 0, 188, 81
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dolphin D3D9 Video Plugin"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Close",IDOK,131,60,50,14
    LTEXT           "Code by ector",IDC_STATIC,7,7,85,9
    LTEXT           "Hardware requirements: Radeon 9500 or better, or Geforce FX5200 or better.\nRadeon recommended.",IDC_STATIC,7,19,174,26
    LTEXT           "Will not work correctly on older GPU:s.",IDC_STATIC,7,47,170,8
END

IDD_SETTINGS DIALOGEX 0, 0, 231, 194
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "&Graphics card:",IDC_STATIC,7,9,61,8
    COMBOBOX        IDC_ADAPTER,68,7,156,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Fullscreen",IDC_FULLSCREENENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,25,56,8
    CONTROL         "&V-Sync",IDC_VSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,38,141,8
    CONTROL         "&Render to main window",IDC_RENDER_TO_MAINWINDOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,50,141,8
    LTEXT           "Full&screen resolution:",IDC_STATIC,7,98,69,8
    COMBOBOX        IDC_RESOLUTION,87,98,137,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Windowed resolution:",IDC_STATIC,7,117,74,8
    COMBOBOX        IDC_RESOLUTIONWINDOWED,87,116,137,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Rotate windowed mode 90 degrees (for &Ikaruga)",IDC_CHECK1,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_DISABLED | WS_TABSTOP,87,132,137,17
    LTEXT           "&Anti-alias mode:",IDC_STATIC,7,157,61,8
    COMBOBOX        IDC_ANTIALIASMODE,68,155,156,73,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Aspect Ratio:",IDC_STATIC,7,66,52,8
    CONTROL         "4:3",IDC_ASPECT_4_3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,66,59,11
    CONTROL         "16:9",IDC_ASPECT_16_9,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,80,49,11
    CONTROL         "&Widescreen Hack",IDC_WIDESCREEN_HACK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,128,81,73,10
    CONTROL         "&Safe Texture Cache",IDC_SAFE_TEXTURE_CACHE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,68,172,85,11
END

IDD_DEBUGGER DIALOGEX 0, 0, 234, 254
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST1,7,16,70,231,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Command Stream",IDC_STATIC,7,7,70,8
    PUSHBUTTON      "&Step",IDC_DEBUGSTEP,81,16,35,15
    CONTROL         "",IDC_REGISTERS,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,81,68,146,179
    LTEXT           "&Registers",IDC_STATIC,81,41,137,9
    CONTROL         "&Enable debugging",IDC_ENABLEDEBUGGING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,121,19,70,8
    CONTROL         "",IDC_REGISTERSELECT,"SysTabControl32",TCS_BUTTONS,80,52,145,13
END

IDD_ADVANCED DIALOGEX 0, 0, 206, 195
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "&Settings",IDC_STATIC,7,7,192,81
    CONTROL         "&Wireframe",IDC_WIREFRAME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,19,79,9
    CONTROL         "&Overlay some statistics",IDC_OVERLAYSTATS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,31,88,9
    CONTROL         "Overlay &Projection Statistics",IDC_OVERLAYPROJSTATS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,42,118,9
    CONTROL         "Show s&hader compilation errors",IDC_SHOWSHADERERRORS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,53,127,9
    GROUPBOX        "&Data dumping",IDC_STATIC,7,91,192,42
    CONTROL         "Dump &textures",IDC_TEXDUMP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,104,70,9
    CONTROL         "Dump Frames to User/Dump/Frames",IDC_DUMPFRAMES,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,116,138,9
    GROUPBOX        "Texture Format Overlay",IDC_STATIC,7,136,192,30
    CONTROL         "Enable Overlay",IDC_TEXFMT_OVERLAY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,148,74,10
    CONTROL         "Centered",IDC_TEXFMT_CENTER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,110,148,82,10
END

IDD_ENHANCEMENTS DIALOGEX 0, 0, 224, 175
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Texture &filtering",IDC_STATIC,7,7,210,50
    CONTROL         "Force &bi/trilinear (breaks video in several Wii games)",IDC_FORCEFILTERING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,20,192,9
    CONTROL         "Enable 16x &anisotropy filtering",IDC_FORCEANISOTROPY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,35,110,10
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO 
BEGIN
    IDD_ABOUT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 181
        TOPMARGIN, 7
        BOTTOMMARGIN, 74
    END

    IDD_SETTINGS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 224
        VERTGUIDE, 7
        VERTGUIDE, 68
        VERTGUIDE, 81
        VERTGUIDE, 87
        TOPMARGIN, 7
        BOTTOMMARGIN, 187
    END

    IDD_DEBUGGER, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 227
        TOPMARGIN, 7
        BOTTOMMARGIN, 247
    END

    IDD_ADVANCED, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 199
        VERTGUIDE, 14
        VERTGUIDE, 110
        TOPMARGIN, 7
        BOTTOMMARGIN, 168
        HORZGUIDE, 150
    END

    IDD_ENHANCEMENTS, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 217
        VERTGUIDE, 16
        VERTGUIDE, 74
        TOPMARGIN, 7
        BOTTOMMARGIN, 168
    END
END
#endif    // APSTUDIO_INVOKED


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

