<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature android:glEsVersion="0x00030000"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false"/>

    <application
        android:name=".DolphinApplication"
        android:label="@string/app_name_suffixed"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/backup_rules_api_31"
        android:supportsRtl="true"
        android:isGame="true"
        android:banner="@drawable/banner_tv"
        android:hasFragileUserData="true"
        android:extractNativeLibs="true">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Dolphin.Splash.Main">

            <!-- This intentfilter marks this Activity as the one that gets launched from Home screen. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.TvMainActivity"
            android:exported="true"
            android:theme="@style/Theme.Dolphin.Splash.TV">

            <!-- This intentfilter marks this Activity as the one that gets launched from Home screen. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.settings.ui.SettingsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Dolphin.Main"
            android:label="@string/settings"/>

        <activity
            android:name=".features.cheats.ui.CheatsActivity"
            android:exported="false"
            android:theme="@style/Theme.Dolphin.Main"
            android:label="@string/cheats"/>

        <activity
            android:name=".activities.EmulationActivity"
            android:exported="false"
            android:theme="@style/Theme.Dolphin.Main"
            android:preferMinimalPostProcessing="true"/>

        <activity
            android:name=".activities.CustomFilePickerActivity"
            android:exported="false"
            android:label="@string/app_name_suffixed"
            android:theme="@style/Theme.Dolphin.FilePicker">

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AppLinkActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:host="@string/host"
                    android:scheme="@string/scheme"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ConvertActivity"
            android:exported="false"
            android:theme="@style/Theme.Dolphin.Main" />

        <activity
            android:name=".activities.UserDataActivity"
            android:exported="false"
            android:label="@string/user_data_submenu"
            android:theme="@style/Theme.Dolphin.Main" />

        <activity
            android:name=".features.riivolution.ui.RiivolutionBootActivity"
            android:exported="false"
            android:theme="@style/Theme.Dolphin.Main" />

        <service
            android:name=".services.SyncChannelJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".services.SyncProgramsJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.filesprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths"/>
        </provider>

        <provider
            android:name=".features.DocumentProvider"
            android:authorities="${applicationId}.user"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:enabled="@bool/enableDocumentProvider">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>
