[Desktop Entry]
Version=1.0
Icon=RioLogo
Exec=env QT_QPA_PLATFORM=xcb dolphin-emu
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Project Rio
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
