[Desktop Entry]
Version=1.0
Icon=dolphin-emu
Exec=dolphin-emu
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Slippi Online
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
X-AppImage-Integrate=false
