<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
  <Identity
    Name="3143e227-cbe5-41c4-aaa9-cf40132a1b22"
    Publisher="CN=Dolphin Emulator"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="3143e227-cbe5-41c4-aaa9-cf40132a1b22" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Dolphin Emulator</DisplayName>
    <PublisherDisplayName>Dolphin Emulator</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DolphinUWP.App">
      <uap:VisualElements DisplayName="Dolphin Emulator" Description="An emulator for the Nintendo GameCube and Wii consoles! GameCube and Wii are trademarks of Nintendo. Dolphin Emulator is not affiliated with Nintendo."
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.iso</uap:FileType>
              <uap:FileType>.ciso</uap:FileType>
              <uap:FileType>.wbfs</uap:FileType>
              <uap:FileType>.rvz</uap:FileType>
              <uap:FileType>.gcz</uap:FileType>
              <uap:FileType>.gcm</uap:FileType>
              <uap:FileType>.json</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="dolphin-emu">
            <uap:SupportedFileTypes>
              <uap:FileType>.iso</uap:FileType>
              <uap:FileType>.ciso</uap:FileType>
              <uap:FileType>.rvz</uap:FileType>
              <uap:FileType>.wbfs</uap:FileType>
              <uap:FileType>.gcm</uap:FileType>
              <uap:FileType>.gcz</uap:FileType>
              <uap:FileType>.json</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Dolphin Emulator</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="dolphin">
            <uap:DisplayName>Dolphin Emulator</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust"/>
		<rescap:Capability Name="broadFileSystemAccess" />
    <uap:Capability Name="removableStorage"/>
		<rescap:Capability Name="expandedResources" />
    <Capability Name="codeGeneration"/>
  </Capabilities>
</Package>