<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dolphinemu.dolphinemu"
    android:versionCode="13"
    android:versionName="0.13"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-feature android:name="android.hardware.screen.landscape" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="org.dolphinemu.dolphinemu.gamelist.GameListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >

            <!-- This intentfilter marks this Activity as the one that gets launched from Home screen.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.dolphinemu.dolphinemu.about.AboutActivity"
            android:theme="@android:style/Theme.Holo.Light" />

        <activity
            android:name="org.dolphinemu.dolphinemu.emulation.EmulationActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="org.dolphinemu.dolphinemu.settings.input.overlayconfig.OverlayConfigActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="org.dolphinemu.dolphinemu.settings.PrefsActivity"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Holo.Light" />

        <service android:name=".AssetCopyService"/>

    </application>

</manifest>
