<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unique_games</key>
	<array/>
	<key>tscontroller_stick_recentering</key>
	<false/>
	<key>did_deliberately_change_cpu_core</key>
	<false/>
	<key>tscontroller_motion_mode</key>
	<integer>0</integer>
	<key>haptic_feedback_enabled</key>
	<true/>
	<key>pad_opacity_value</key>
	<real>0.5</real>
	<key>last_game_title</key>
	<string>Unknown</string>
	<key>last_game_path</key>
	<string>/tmp/dummy</string>
	<key>last_game_state_version</key>
	<integer>0</integer>
	<key>crash_reporting_enabled</key>
	<true/>
	<key>software_list_view</key>
	<integer>0</integer>
	<key>top_bar_pull_down_mode</key>
	<integer>0</integer>
	<key>last_version</key>
	<string>dummy</string>
</dict>
</plist>
