<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unique_games</key>
	<array/>
	<key>tscontroller_stick_recentering</key>
	<false/>
	<key>did_deliberately_change_cpu_core</key>
	<false/>
	<key>tscontroller_motion_mode</key>
	<integer>0</integer>
	<key>haptic_feedback_enabled</key>
	<true/>
	<key>pad_opacity_value</key>
	<real>0.5</real>
	<key>last_game_boot_info</key>
	<dict>
		<key>user_facing_name</key>
		<string>Dummy</string>
		<key>boot_type</key>
		<false/>
		<key>location</key>
		<string>/tmp/dummy</string>
		<key>state_version</key>
		<integer>0</integer>
	</dict>
	<key>crash_reporting_enabled</key>
	<true/>
	<key>software_list_view</key>
	<integer>0</integer>
	<key>top_bar_pull_down_mode</key>
	<integer>0</integer>
	<key>last_version</key>
	<string>dummy</string>
	<key>is_killed</key>
	<false/>
	<key>killed_url</key>
	<string>https://dolphinios.oatmealdome.me/update</string>
	<key>show_status_bar</key>
	<false/>
	<key>seen_njb_notice</key>
	<false/>
	<key>tscontroller_config_version</key>
	<integer>0</integer>
</dict>
</plist>
