<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APY_KEY</key>
	<string>APIKEYHERE</string>
	<key>CLIENT_ID</key>
  <string>123456789012-clientidcharactersgohere.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.123456789012-clientidcharactersgohere</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bundleid.here</string>
	<key>PROJECT_ID</key>
	<string>project-id-here</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:14149026053:ios:ccf172013e2d4075</string>
	<key>CFBundleIdentifier</key>
	<string>cfbundle.here</string>
</dict>
</plist>