---
Language:        Cpp
BasedOnStyle:  LLVM
#AccessModifierOffset: -2
#ConstructorInitializerIndentWidth: 4
#AlignEscapedNewlinesLeft: false
#AlignTrailingComments: true
#AllowAllParametersOfDeclarationOnNextLine: true
#AllowShortBlocksOnASingleLine: false
#AllowShortIfStatementsOnASingleLine: false
#AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
#AlwaysBreakTemplateDeclarations: false
#AlwaysBreakBeforeMultilineStrings: false
#BreakBeforeBinaryOperators: false
#BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
#BinPackParameters: true
ColumnLimit:     120
#ConstructorInitializerAllOnOneLineOrOnePerLine: false
#DerivePointerBinding: false
#ExperimentalAutoDetectBinPacking: false
#IndentCaseLabels: false
#MaxEmptyLinesToKeep: 1
#KeepEmptyLinesAtTheStartOfBlocks: true
#NamespaceIndentation: None
#ObjCSpaceAfterProperty: false
#ObjCSpaceBeforeProtocolList: true
#PenaltyBreakBeforeFirstCallParameter: 19
#PenaltyBreakComment: 300
#PenaltyBreakString: 1000
#PenaltyBreakFirstLessLess: 120
#PenaltyExcessCharacter: 1000000
#PenaltyReturnTypeOnItsOwnLine: 60
#PointerBindsToType: false
#SpacesBeforeTrailingComments: 1
#Cpp11BracedListStyle: true
#Standard:        Cpp11
IndentWidth:     4
TabWidth:        4
UseTab:          ForIndentation 
BreakBeforeBraces: Allman
#IndentFunctionDeclarationAfterType: false
#SpacesInParentheses: false
#SpacesInAngles:  false
#SpaceInEmptyParentheses: false
#SpacesInCStyleCastParentheses: false
#SpacesInContainerLiterals: true
#SpaceBeforeAssignmentOperators: true
#ContinuationIndentWidth: 4
#CommentPragmas:  '^ IWYU pragma:'
#ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
#SpaceBeforeParens: ControlStatements
...

