---
# Global config for all languages
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines:  Right
AlignOperands:   true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: false
ColumnLimit:     100
CommentPragmas:  '^ (IWYU pragma:|NOLINT)'
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat:   false
ForEachMacros:   []
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(AudioCommon|Common|Core|DiscIO|Dolphin.*|InputCommon|jni|MacUpdater|UICommon|UpdaterCommon|VideoBackends|VideoCommon|WinUpdater)/.*"$'
    Priority: 1
    SortPriority: 10
    CaseSensitive: true
  - Regex: '^<(((bochs|bzlib|libipc|cpp-optparse|cubeb|curl|discord|ed25519|enet|expr|FatFs|fmt|FreeSurround|glslang|gtest|hidapi|imgui|implot|adrenotools|iconv|lzma|spng|libudev|libusb|lz4|lzo|mbedtls|mgba|mini|upnp|mz|picojson|pugixml|rcheevos|SDL3|SFML|spirv|tinygtlf|vulkan|vk_mem_alloc|wtr|wil|xx|zlib|zstd)(.*)?\.h(pp)?)|(Q(t|[A-Z])[a-zA-Z]+))>$'
    Priority: 2
    SortPriority: 20
    CaseSensitive: true
    # List of C headers from https://cppreference.com/c/header
  - Regex: '^<(([a-z_]+)|((assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|stdalign|stdarg|stdatomic|stdbit|stdbool|stdckdint|stddef|stdint|stdio|stdlib|stdmchar|stdnoreturn|string|tgmath|threads|time|uchar|wchar|wctype)\.h))>$'
    Priority: 4
    SortPriority: 40
    CaseSensitive: true
  - Regex: '^<windows\.h>$'
    Priority: 3
    SortPriority: 30
    CaseSensitive: false
  - Regex: '^<.*\.h>$'
    Priority: 3
    SortPriority: 31
IncludeIsMainRegex: ''
IndentCaseLabels: false
IndentWidth:     2
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Left
ReflowComments:  true
RemoveSemicolon: true
RequiresClausePosition: WithPreceding
SortIncludes:    CaseSensitive
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Latest
StatementAttributeLikeMacros:
  - emit
TabWidth:        2
UseTab:          Never
---
# C++ Specific Config
Language:        Cpp
---
# Objective-C Specific Config
Language:        ObjC
ObjCBlockIndentWidth: 2
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
BraceWrapping:
  AfterObjCDeclaration: true
...
