name: PR Builds x64

on:
  push:
    branches: [ master ]
    paths-ignore:
        - "**.md"
        - "**.ini"
  pull_request:
    branches: [ master ]
    paths-ignore:
      - "**.md"
      - "**.ini"

jobs:
#   windows64-netplay:
#     env:
#       DXSDK_DIR: "C:\\Program Files (x86)\\Microsoft DirectX SDK (June 2010)\\"
#     name: "Windows Netplay"
#     runs-on: windows-2019
#     steps:
#       - name: "Remove Redistributable"
#         shell: cmd
#         run: |
#           MsiExec.exe /passive /X{F0C3E5D1-1ADE-321E-8167-68EF0DE699A5}  
#       - name: "Setup MSBuild"
#         uses: microsoft/setup-msbuild@v1   
#       - name: "Install DirectX SDK"
#         shell: powershell
#         run: |
#           choco install directx-sdk
#       - name: "Checkout"
#         uses: actions/checkout@v2.3.1
#       - name: 'Fetch Git Tags'
#         if: success()
#         shell: bash
#         run: |
#           git fetch --prune --unshallow
#           echo ::set-env name=GIT_BRANCH::$(git rev-parse --abbrev-ref HEAD)
#           echo ::set-env name=GIT_HASH::$(git rev-parse --short HEAD)
#           echo ::set-env name=GIT_TAG::$(git describe --tags --abbrev=0)
#           echo ::set-env name=CURR_DATE::$(date +%Y-%m-%d)
#       - name: "Build Netplay Dolphin"
#         shell: cmd
#         run: |
#           msbuild /p:Configuration=Release /p:Platform=x64 ${{ github.workspace }}\Source\Dolphin.sln
#       - name: "Package Netplay"
#         working-directory: ${{ github.workspace }}
#         run: |
#           $env:FILE_NAME="${{ env.CURR_DATE }}-${{ env.OBS_GIT_HASH }}-${{ env.OBS_GIT_TAG }}-win64-netplay.zip"
#           mkdir artifact
#           Xcopy /Y /E /I .\Data\Sys .\Binary\x64\Sys
#           cd .\Binary\x64\
#           fsutil file createnew portable.txt 0
#           fsutil file createnew FIX-VCRUNTIME140-ERROR.txt 0
#           echo "Download and install this: https://aka.ms/vs/16/release/vc_redist.x64.exe" > .\FIX-VCRUNTIME140-ERROR.txt
#           7z a ${env:FILE_NAME} .\*
#           move ${env:FILE_NAME} ..\..\artifact\
#       - name: "Publish"
#         if: success()
#         uses: actions/upload-artifact@v2-preview
#         with:
#           name: "windows64-netplay"
#           path: "./artifact/"
#   windows64-playback:
#     env:
#       DXSDK_DIR: "C:\\Program Files (x86)\\Microsoft DirectX SDK (June 2010)\\"
#     name: "Windows Playback"
#     runs-on: windows-2019
#     steps:
#       - name: "Remove Redistributable"
#         shell: cmd
#         run: |
#           MsiExec.exe /passive /X{F0C3E5D1-1ADE-321E-8167-68EF0DE699A5}  
#       - name: "Setup MSBuild"
#         uses: microsoft/setup-msbuild@v1   
#       - name: "Install DirectX SDK"
#         shell: powershell
#         run: |
#           choco install directx-sdk
#       - name: "Checkout"
#         uses: actions/checkout@v2.3.1
#       - name: 'Fetch Git Tags'
#         if: success()
#         shell: bash
#         run: |
#           git fetch --prune --unshallow
#           echo ::set-env name=GIT_BRANCH::$(git rev-parse --abbrev-ref HEAD)
#           echo ::set-env name=GIT_HASH::$(git rev-parse --short HEAD)
#           echo ::set-env name=GIT_TAG::$(git describe --tags --abbrev=0)
#           echo ::set-env name=CURR_DATE::$(date +%Y-%m-%d)
#       - name: "Build Playback Dolphin"
#         shell: cmd
#         run: |
#           msbuild /p:Configuration=ReleasePlayback /p:Platform=x64 ${{ github.workspace }}\Source\Dolphin.sln
#       - name: "Package Playback"
#         if: success()
#         working-directory: ${{ github.workspace }}
#         run: |
#           $env:FILE_NAME="${{ env.CURR_DATE }}-${{ env.OBS_GIT_HASH }}-${{ env.OBS_GIT_TAG }}-win64-playback.zip"
#           mkdir artifact
#           git clone https://github.com/project-slippi/slippi-desktop-app
#           Xcopy /Y /E /I .\Data\Sys .\Binary\x64\Sys
#           Xcopy /Y /E /I .\slippi-desktop-app\app\dolphin-dev\overwrite\Sys .\Binary\x64\Sys
#           Xcopy /Y /E /I .\slippi-desktop-app\app\dolphin-dev\overwrite\User .\Binary\x64\User
#           cd .\Binary\x64\
#           fsutil file createnew portable.txt 0
#           7z a ${env:FILE_NAME} .\*
#           move ${env:FILE_NAME} ..\..\artifact\
#       - name: "Publish"
#         if: success()
#         uses: actions/upload-artifact@v2-preview
#         with:
#           name: "windows64-playback"
#           path: "./artifact/"
  ubuntu64-netplay:
      name: "Ubuntu Netplay"
      runs-on: ubuntu-18.04
      steps:
        - name: "Checkout"
          uses: actions/checkout@v2
        - name: 'Fetch Git Tags'
          if: success()
          run: |
            git fetch --prune --unshallow
            echo "GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
            echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
            echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
            echo "CURR_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
        - name: "Install prerequisites"
          if: success()
          shell: bash
          run: |
            sudo dpkg --add-architecture amd64
            sudo apt update
            sudo apt install \
            cmake \
            pkg-config \
            git \
            wget \
            libao-dev \
            libasound2-dev \
            libavcodec-dev \
            libavformat-dev \
            libbluetooth-dev \
            libenet-dev \
            libgtk2.0-dev \
            liblzo2-dev \
            libminiupnpc-dev \
            libopenal-dev \
            libpulse-dev \
            libreadline-dev \
            libsfml-dev \
            libsoil-dev \
            libsoundtouch-dev \
            libswscale-dev \
            libusb-1.0-0-dev \
            libxext-dev \
            libxrandr-dev \
            portaudio19-dev \
            zlib1g-dev \
            libudev-dev \
            libevdev-dev \
            libmbedtls-dev \
            libcurl4-openssl-dev \
            libegl1-mesa-dev \
            libpng-dev \
            qtbase5-private-dev \
            libxxf86vm-dev \
            x11proto-xinerama-dev
        - name: "Build Netplay Dolphin"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            chmod +x ./build-linux.sh
            ./build-linux.sh
        - name: "Build Netplay AppImage"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            chmod +x ./build-appimage.sh
            ./build-appimage.sh
        - name: "Package Netplay"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            mkdir artifact
            FILE_NAME=${{ env.CURR_DATE }}-${{ env.GIT_HASH }}-${{ env.GIT_TAG }}-linux-appimage-netplay.zip
            zip -r "${FILE_NAME}" ./*.AppImage*
            mv "${FILE_NAME}" ./artifact/
        - name: "Publish"
          if: success()
          uses: actions/upload-artifact@v2-preview
          with:
            name: "linux-netplay"
            path: "./artifact/"
  ubuntu64-playback:
      name: "Ubuntu Playback"
      runs-on: ubuntu-18.04
      steps:
        - name: "Checkout"
          uses: actions/checkout@v2
        - name: 'Fetch Git Tags'
          if: success()
          run: |
            git fetch --prune --unshallow
            echo "GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
            echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
            echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
            echo "CURR_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
        - name: "Install prerequisites"
          if: success()
          shell: bash
          run: |
            sudo dpkg --add-architecture amd64
            sudo apt update
            sudo apt install \
            cmake \
            pkg-config \
            git \
            wget \
            libao-dev \
            libasound2-dev \
            libavcodec-dev \
            libavformat-dev \
            libbluetooth-dev \
            libenet-dev \
            libgtk2.0-dev \
            liblzo2-dev \
            libminiupnpc-dev \
            libopenal-dev \
            libpulse-dev \
            libreadline-dev \
            libsfml-dev \
            libsoil-dev \
            libsoundtouch-dev \
            libswscale-dev \
            libusb-1.0-0-dev \
            libxext-dev \
            libxrandr-dev \
            portaudio19-dev \
            zlib1g-dev \
            libudev-dev \
            libevdev-dev \
            libmbedtls-dev \
            libcurl4-openssl-dev \
            libegl1-mesa-dev \
            libpng-dev \
            qtbase5-private-dev \
            libxxf86vm-dev \
            x11proto-xinerama-dev
        - name: "Build Playback Dolphin"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            chmod +x ./build-linux.sh
            ./build-linux.sh playback
        - name: "Build Playback AppImage"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            chmod +x ./build-appimage.sh
            ./build-appimage.sh playback
        - name: "Package Playback"
          if: success()
          working-directory: ${{ github.workspace }}
          run: |
            mkdir artifact
            FILE_NAME=${{ env.CURR_DATE }}-${{ env.GIT_HASH }}-${{ env.GIT_TAG }}-linux-appimage-playback.zip
            zip -r "${FILE_NAME}" ./*.AppImage
            mv "${FILE_NAME}" ./artifact/
        - name: "Publish"
          if: success()
          uses: actions/upload-artifact@v2-preview
          with:
            name: "linux-playback"
            path: "./artifact/"
  macOS64-netplay:
    name: "macOS Netplay"
    runs-on: macos-10.15
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: 'Fetch Git Tags'
        if: success()
        run: |
          git fetch --prune --unshallow
          echo "GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
          echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
          echo "CURR_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
      - name: "Install 10.14 SDK"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          wget https://github.com/phracker/MacOSX-SDKs/releases/download/10.15/MacOSX10.14.sdk.tar.xz
          tar -xf MacOSX10.14.sdk.tar.xz
          rm MacOSX10.14.sdk.tar.xz
          sudo mv MacOSX10.14.sdk /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/
      - name: "Download and Install prerequisites"
        if: success()
        shell: bash
        run: |
          rm '/usr/local/bin/2to3' || true
          brew update
          brew upgrade cmake
          brew install \
          ffmpeg \
          libpng \
          libav \
          pkgconfig \
          libao \
          sound-touch \
          hidapi \
          qt
      - name: "Build Netplay"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          mkdir build
          cd build
          export LIBRARY_PATH=/usr/lib/
          cmake -DSLIPPI_PLAYBACK=false -DQt5_DIR=$(brew --prefix qt)/lib/cmake/Qt5 -DENABLE_NOGUI=false ..
          make -j7
      - name: "Package Netplay"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          FILE_NAME=${{ env.CURR_DATE }}-${{ env.GIT_HASH }}-${{ env.GIT_TAG }}-macOS-netplay.tar.gz
          cp -Rf Data/Sys build/Binaries/Dolphin.app/Contents/Resources/
          mkdir artifact
          cd ./build/Binaries/
          zip -r "${FILE_NAME}" Dolphin.app
          mv "${FILE_NAME}" ../../artifact/
      - name: "Publish"
        if: success()
        uses: actions/upload-artifact@v2-preview
        with:
          name: "macOS-netplay"
          path: "./artifact/"
  macOS64-playback:
    name: "macOS Playback"
    runs-on: macos-10.15
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: 'Fetch Git Tags'
        if: success()
        run: |
          git fetch --prune --unshallow
          echo "GIT_BRANCH=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
          echo "GIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
          echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV
          echo "CURR_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
      - name: "Install 10.14 SDK"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          wget https://github.com/phracker/MacOSX-SDKs/releases/download/10.15/MacOSX10.14.sdk.tar.xz
          tar -xf MacOSX10.14.sdk.tar.xz
          rm MacOSX10.14.sdk.tar.xz
          sudo mv MacOSX10.14.sdk /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/
      - name: "Download and Install prerequisites"
        if: success()
        shell: bash
        run: |
          rm '/usr/local/bin/2to3' || true
          brew update
          brew upgrade cmake
          brew install \
          ffmpeg \
          libpng \
          libav \
          pkgconfig \
          libao \
          sound-touch \
          hidapi \
          qt
      - name: "Build Playback"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          mkdir build
          export LD_LIBRARY_PATH=/usr/lib/
          cd build
          cmake -DQt5_DIR=$(brew --prefix qt)/lib/cmake/Qt5 -DENABLE_NOGUI=false ..
          make -j7
      - name: "Package Playback"
        if: success()
        shell: bash
        working-directory: ${{ github.workspace }}
        run: |
          mkdir artifact
          git clone https://github.com/project-slippi/slippi-desktop-app
          cd ./build/Binaries/
          cp -Rf ../../Data/Sys ./Dolphin.app/Contents/Resources
          cp -Rf ../../slippi-desktop-app/app/dolphin-dev/overwrite/Sys ./Dolphin.app/Contents/Resources
          FILE_NAME=${{ env.CURR_DATE }}-${{ env.GIT_HASH }}-${{ env.GIT_TAG }}-macOS-playback.zip
          zip -r "${FILE_NAME}" Dolphin.app
          mv "${FILE_NAME}" ../../artifact/
      - name: "Publish"
        if: success()
        uses: actions/upload-artifact@v2-preview
        with:
          name: "macOS-playback"
          path: "./artifact/"
