// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
IDI_ICON1               ICON                    "..\\..\\..\\Installer\\Dolphin.ico"
"dolphin"               ICON                    "..\\..\\..\\Installer\\Dolphin.ico"

